<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <h4>Adicionar pacientes</h4>
    <span>Nome: </span><input type="text" id="inputNome"><br>
    <span>Idade: </span><input type="text" id="inputIdade"><br>
    <span>Plano: </span><input type="text" id="inputPlano"><br>
    <button @click="adicionarPaciente()">Adicionar</button>
    <hr>

    <h4>Último paciente cadastrado</h4>
    <p v-if="pacientes.length > 0">
      {{ ultimoPaciente }}<!-- métodos computados não precisam de parênteses -->
    </p>
    <hr>

    <h4>Pacientes do plano Ouro</h4>
    <p v-for="p in pacientesPlanoOuro">
      {{ p.nome }}
    </p>
    <hr>

    <h4>Pacientes cadastrados</h4>
    <p v-for="p in pacientes">
      {{ p.nome }}
    </p>
  </div>

  <script>

    const vm = new Vue({
      el: '#app',
      // Em data é declarado os atributos que serão utilizados dentro dos templates e na lógica interna
      data: {
        pacientes: []
      },
      // Métodos são normalmente utilizados para realizar operações de comportamentos da tela, layout, etc (ações do usuário). 
      methods: {
        adicionarPaciente(){
          this.pacientes.push({
            nome: inputNome.value,
            idade: inputIdade.value,
            plano: inputPlano.value          
          });
        }
      },
      // Métodos computados são úteis para evitar aplicar lógicas dentro do template
      // Os métodos computados são como atributos e normalmente são aplicados DENTRO das tags (double mustaches)
      computed: {
        ultimoPaciente() {
          let key = this.pacientes.length - 1;
          let txt = '';
          txt += 'Paciente ' + this.pacientes[key].nome;
          txt += ', idade ' + this.pacientes[key].idade;
          txt += ', plano ' + this.pacientes[key].plano;
          return txt.toUpperCase();
        },
        pacientesPlanoOuro() {
          return this.pacientes.filter(item => item.plano == 'Ouro');
        }
      }
    })
  </script>
</body>

</html>